*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    max-width:1400px;
    height: 100%;
    margin: 0px auto;
    font-size:0;
}
.container {
    width: 80%;
    margin: 0 auto; 
}

/*Header*/

.header__container {
    background: black;
    padding-top: 21px;
    padding-bottom: 23px;
}
.header__logo {
    display: inline-block; 
    background:url(../img/logo.png) no-repeat center center;
    background-size: cover;
    width: 79px;
    height: 27px;
    margin-left: 150px;
    margin-right: 558px;
}
.header__nav{
    display: inline-block;
}
.header__link {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    font-family:'Open Sans', sans-serif;
    margin: 0 24px;
}

/*Intro*/

/*Intro-box*/
.intro {
    background:linear-gradient(to top, rgba(39, 36, 36, 0.397),50% ,rgba(48, 44, 44, 0.829)),url(../img/bg-sity-main.png) no-repeat center center ;
    background-size: cover;
    padding-top: 110px;
    padding-bottom: 140px; 
}   
.intro__logo {
    background:url(../img/logo.png) no-repeat center center;
    background-size: cover;
    width: 175px;
    height: 60px;
    margin-bottom: 33px;
}
.intro__box {
    display: inline-block;
    text-align: left;
    width: 539px;
    
}
.intro__title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #ffffff;
}
.intro__line {
    width: 64px;
    height: 2px;
    border: none;
    background: #ffffff;;
    margin-top: 36px;
    margin-bottom: 30px;
}
.intro__subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    opacity:0.8;
}
.intro__bottom {
    margin-top: 44px;
    padding:15px 32px;
    border:2px solid #ffffff;
    font-size: 15px;
    font-weight: 600;
    color:#ffffff;
    background: transparent;
    font-family:'Open Sans', sans-serif; 
    cursor: pointer;
}
/*Intro-form*/
.into-form {
    width: 374px;
    border-radius: 50px;
}
.intro-form__title {
    padding: 18px 56px 15px 52px;
    background: rgb(201, 178, 178);
    font-size: 20px;
    font-family:'Open Sans', sans-serif;
    font-weight: 600; 
    color:#333333;
    text-align: center;
}
.intro-form__subtitle {
    font-family:'Open Sans', sans-serif;
    font-weight: 400; 
    font-size: 14px;
}
span {
    color: orange;
    font-size: 20px;
    font-family:'Open Sans', sans-serif; 
    font-weight: 400;
}
input {
    width: 100%;
}

.intro-form__button {
    width: 100%;
    background:orangered;
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    font-family:'Open Sans', sans-serif; 
    color: #fff;
    padding: 20px 138px;
    border:none;
}

/*Intro-box*/

