* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    max-width:1400px;
    height: 100%;
    margin: 0px auto;
    font-size:0;
}
.container {
    width: 80%;
    margin: 0 auto; 
}

/*-------------------Navbar---------------------------*/
.navbar {
    position: fixed;
    width: 100%;
}

.navbar__container {
    background: black;
    padding-top: 21px;
    padding-bottom: 23px;
}
.navbar__logo {
    display: inline-block; 
    background:url(../img/logo.png) no-repeat center center;
    background-size: cover;
    width: 79px;
    height: 27px;
    margin-left: 150px;
    margin-right: 558px;
}
.navbar__nav {
    display: inline-block;
}
.navbar__link {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    font-family:'Open Sans', sans-serif;
    margin: 0 24px;
}

/*-------------------------Intro----------------------------*/

/*Intro-box*/ 

.intro {
    background:linear-gradient(to top, rgba(39, 36, 36, 0.397),50% ,rgba(48, 44, 44, 0.829)),url(../img/bg-sity-main.png) no-repeat center center ;
    background-size: cover;
    padding-top: 110px;
    padding-bottom: 140px; 
}   
.intro__logo {
    background:url(../img/logo.png) no-repeat center center;
    background-size: cover;
    width: 170px;
    height: 60px;
    margin-bottom: 33px;
}
.intro__box {
    display: inline-block;
    text-align: left;
    width: 539px;
}
.intro__title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #ffffff;   
}
.intro__line {
    width: 64px;
    height: 2px;
    border: none;
    background: #ffffff;;
    margin-top: 36px;
    margin-bottom: 30px;
}
.intro__subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    opacity:0.8;
}
.intro__bottom {
    margin-top: 44px;
    padding:15px 32px;
    border:2px solid #ffffff;
    font-size: 15px;
    font-weight: 600;
    color:#ffffff;
    background: transparent;
    font-family:'Open Sans', sans-serif; 
    cursor: pointer;
}

/*Intro-form*/

input {
    border:none;
    border-bottom: 2px solid black;
}
form {
    background:white;
}
.intro__form {
    margin-left: 140px;
    border: none;
    border-radius: 5px;
    width: 360px;
    height: 360px;
    background: white;
    font-family: 'Open Sans', sans-serif;
}
.form__title {
    padding: 18px 0 15px;
    border-radius: 5px 5px 0 0;
    background: rgb(190, 190, 190);
    color: black;
    font-size: 20px;
    text-align: center;
}
.form__title span {
    text-transform: uppercase;
    color: #FF8B38;
}

.form__group {
    padding: 0 40px 80px;
}

.form__username {
    border: none;
    padding-top: 30px;
    font-size: 14px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px rgb(190, 190, 190) solid;
}

.form__useremail {
    border: none;
    padding-top: 40px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    border-bottom: 1px rgb(190, 190, 190) solid;
}

.form__userpassword {
    border: none;
    padding-top: 50px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    border-bottom: 1px rgb(190, 190, 190) solid;
}

.form__button {
    border: none;
    padding: 23px 140px;
    border-radius: 0 0 5px 5px;
    text-transform: capitalize;
    color: white;
    background: #FF8B38;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

/*------------------Brand-box---------------------*/

.brand {
    padding-top: 21px;
    padding-bottom: 22px;
}
.brand__box {
    display: inline-block;
    font-size: 0;  
}
.brand__title {
    font-weight: 600;
    font-family:'Open Sans', sans-serif;  
    color:#333333;
    font-size: 20px;
    margin-bottom: 12px;
}
.brand__subtitle {
    font-weight: 400;
    font-family:'Open Sans', sans-serif;
    color:#86878B;
    font-size: 14px;
    width: 365px;
}
.brand__list {
    background:url(../img/social-media-icon.png) no-repeat center center;
    width: 564px;
    height: 46px;
    margin-left: 100px;
    bottom: 25px;
}
.brand__box ul li {
    display: inline-block;
    width: 80px;
    height: 46px;
}
.brand__box ul li a {
    display: inline-block;
    width: 80px;
    height: 46px;
}

/*-------------------------Features------------------------------*/

/*Features-box*/
.features {
    background:#F5F5F5;
    padding-top:148px;
    padding-bottom: 114px;
}
.features__box {
    display: inline-block;
}
.features__tab {
    text-align: center;
    width: 112px;
}
.features__tab1 {
    background:#FF8B38;
    padding-top: 50px;
    padding-bottom:50px;
    border:none;
    border-bottom: 1px #F5F5F5 solid;
    border-radius: 5px 5px 0 0;
}
.features__tab2 {
    background:#333333;
    padding-top: 50px;
    padding-bottom:50px;  
    border:none;
    border-bottom: 1px #F5F5F5 solid;
}
.features__tab3 {
    background:#333333;
    padding-top: 50px;
    padding-bottom:50px; 
    border-radius: 0 0 5px 5px ; 
}
.features__text {
    color:#F5F5F5;
    font-weight: 600;
    font-family:'Open Sans', sans-serif;  
    font-size: 15px;
}

/*Features-content*/

.features__content {
    margin-left:99px;
}
.features__title {
    color: #000000;
    font-size:20px;
    font-weight: 600;
    font-family:'Open Sans', sans-serif;  
    margin-bottom: 52px;
}
.features__subtitle {
    color: #86878B;
    font-size:14px;
    font-weight: 400;
    font-family:'Open Sans', sans-serif;  
    margin-bottom: 50px;
    width: 476px;
}
.features__button {
    background:#FF8B38;
    border:none;
    width: 121px;
    height: 46px;
    color: #FFFFFF;
    padding: 16px 25px 16px 25px;
    font-weight: 600;
    font-size: 15px;
    font-family:'Open Sans', sans-serif; 
    text-align: center;
}

/*Features-pic*/

.features__pic {
    background:url(../img/features__city.png) no-repeat center center;
    width: 320px;
    height: 253px;
    margin-left: 70px;
}

/*-------------------------About---------------------------*/

/*About-Title*/

.about {
    text-align: center;
    width: 100%;
    padding-top: 106px ;
    padding-bottom: 102px;
}
.about__title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #212121;
    text-transform:uppercase;
}
.about__line {
    width: 64px;
    height: 2px;
    border: none;
    background: #FF8B38;
    margin: 30px auto;
}
.about__subtitle { 
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #86878B;
}

/* Style-Sidebars */

.about-sidebars {
    margin-top: 80px;
    text-align: center;
}
.about-sidebar {
    display: inline-block;
    width: 350px;
    margin: 0 2px;
}
.about-sidebar__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #333333;
    padding-top: 29px;
    padding-bottom: 25px;
}
.about-sidebar__subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #86878B;
}
.about-sidebar__icon {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border: 2px solid #FF8B38;
    border-radius: 50%; /* Окружность */
}
.about-sidebar__icon-lightbulb {
    background: url(../img/icon-lightbulb.png) no-repeat center center;
}
.about-sidebar__icon-keyboard {
    background: url(../img/icon-keyboard.png) no-repeat center center;
}
.about-sidebar__icon-storm {
    background: url(../img/icon-storm.png) no-repeat center center;
}

/*--------------------------Pricing-------------------------*/

/*Pricing-Title*/

.pricing {
    text-align: center;
    width: 100%;
    padding-top: 109px ;
    padding-bottom: 96px;
    background: #F5F5F5;
}
.pricing__title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #212121;
    text-transform:uppercase;
}
.pricing__line {
    width: 64px;
    height: 2px;
    border: none;
    background: #FF8B38;
    margin: 30px auto;
}
.pricing__subtitle { 
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #86878B;
}

/*Style-Pricing-Slots*/

.pricing-slots {
    margin-top: 80px; 
}
.pricing-slot {
    display: inline-block;
    width: 300px;
    margin: 0 20px; 
}
.pricing-slot__title {
    background:#333333;
    color:#FFFFFF;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    padding-top: 21px;
    padding-bottom: 21px;
    text-align: center;
}
.pricing-slot__price {
    background:#333333;
    color:#FFFFFF;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    font-size: 80px;
    padding-top: 30px;
    border: none;
    border-bottom: 1px solid #FFFFFF;   
}
.pricing-slot__price span {
    font-size: 25px;
}
.pricing-slot__subtitle {
    background:#333333;
    color:#FFFFFF;
    font-size:14px;
    font-family: 'Open Sans', sans-serif;
    color:#FFFFFF;
    font-weight: 400;
    font-style: italic;
    padding-top: 17px;
    padding-bottom: 22px;
}
.pricing-slot__line {
    border:none;
    width: 300px;
    height: 5px;
    background: #FF8B38;
}
.pricing-slot__orange {
    background: #FF8B38;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    padding-top: 13px;
    padding-bottom: 15px;
}
.pricing-slot__list {
    background:#ffffff;
    color:#86878B;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size:14px;
    list-style-type: none; 
    text-transform:uppercase;
    padding-top: 14px;
    padding-bottom: 14px;
}

/*------------------------------Testimonials-------------------------*/

/*Testimonials-Title*/

.testimonials {
    text-align: center;
    width: 100%;
    padding-top: 109px ;
    padding-bottom: 100px;
}
.testimonials__title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #212121;
    text-transform:uppercase;
}
.testimonials__line {
    width: 64px;
    height: 2px;
    border: none;
    background: #FF8B38;
    margin: 30px auto;
}
.testimonials__subtitle { 
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #86878B;
}
/*Testimonials-boxes*/

.testimonials__customers {
    display: inline-block;
    width: 273px;
    margin-top: 55px;
}
.middle-customer {
    margin-left:100px;
    margin-right: 100px;
}
.testimonials__text {
    background: #F5F5F5;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 24px 13px 41px 12px;
    text-align: left;
    color: #86878B;
}
.triangle__down {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    width: 0;
    height: 0;
    border-top: 20px solid #F5F5F5;
    margin-bottom: 8px;
    margin-left: 50px;
}
.testimonials__customers-info {
    display: inline-block;   
}
.testimonials__pic {
    background: url(../img/customer-pic.png) no-repeat ;
    width: 70px;
    height: 70px;
    margin-right: 20px;
}
.testimonials__customers-info h3 {
    font-weight: 600;
    font-size: 20px;
    padding-left: 10px;
    bottom: 30px;
    font-family: 'Open Sans', sans-serif;
}

.testimonials__customers-info p {
    color: #86878B;
    padding-left: 10px;
    bottom: 5px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}

/*------------------------------Custom-Section-------------------------*/

.custom-section {
    background:linear-gradient(to top, rgba(39, 36, 36, 0.397),50% ,rgba(48, 44, 44, 0.829)),url(../img/background-city.png)no-repeat center center ;
    padding-top: 76px;
    padding-bottom: 63px;
    background-size: cover;
    text-align: center;
}
.download__title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    color: #ffffff;
    font-weight: 400;
}
.download__line-white {
    width: 64px;
    height: 2px;
    border: none;
    background: #ffffff;;
    margin: 30px auto;
}
.download__subtitle {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #ffffff;
  opacity:0.8;
  font-weight: 400;
}
.download__button-white {
    margin-top: 33px;
    padding:15px 33px;
    border:2px solid #ffffff;
    font-size: 15px;
    font-weight: 600;
    color:#ffffff;
    background: transparent;
    font-family:'Open Sans', sans-serif; 
    cursor: pointer;
}

/*------------------------------Contacts-------------------------*/

/*Contacts-boxes*/

.contacts {
    width: 100%;
    padding-top: 109px;
    padding-bottom: 80px;
}
.contacts__title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #212121;
    text-transform:uppercase;
    text-align: center;
}
.contacts__line {
    width: 64px;
    height: 2px;
    border: none;
    background: #FF8B38;
    margin: 30px auto;
}
.contacts__subtitle { 
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #86878B;
    text-align: center;
}

/*Contacts-Form*/

.contacts__form {
    margin-top: 91px;
    margin-bottom: 43px;
    position: relative;
}

.contacts-form__box {
    border: none;
    display: block;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px lightgrey solid;
    font-size: 14px;
    width: 527px;
}

.contacts-form__useremail {
    padding-top: 30px;
}

.contacts-form__usersubject {
    padding-top: 30px;
}

.contacts-form__usermessage {
    position: absolute;
    border: none;
    font-size: 14px;
    width: 527px;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px lightgrey solid;
    padding-bottom: 80px;
    top: 1px;
    left: 590px;
}
.contacts__button {
    background:#FF8B38;
    border:none;
    width: 148px;
    height: 46px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 15px;
    font-family:'Open Sans', sans-serif; 
    text-align: center;
    margin-left: 485px;
}

/*------------------------------Footer-------------------------*/

.footer {
    padding-top: 39px;
    padding-bottom: 15px;
    background:black;
    text-align: center;
}
.footer ul li {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 15px;
    text-align: center;
}

.footer__text {
    margin-top: 15px;
    opacity:0.5;
    color:#ffffff;
    font-family:'Open Sans', sans-serif; 
    font-size:12px;
    font-weight: 400;
    text-align: center;
}